@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@100&display=swap');

$font-body: "Roboto", sans-serif;
$font-display: "Nunito", sans-serif;

$color-primary: white;
$color-secondary: yellow;
$color-black: #333333;
$color-white: #fafafa;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-black;
}

a:link,
a:visited{
    text-decoration: none;
}