@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@100&display=swap');

$font-body: "Roboto", sans-serif;
$font-display: "Nunito", sans-serif;

$color-primary: white;
$color-secondary: rgb(249, 248, 199);
$color-navy: #081252;
$color-blue: #55c6fa;

* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-navy;
}

nav {
    height: 10vh;
    background-color: $color-primary;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    display: block;
    border: 1px solid darkblue;
    text-decoration: none;
    padding: 10px 20px 10px;
    border-radius: 5px;
    font-weight: bolder;
}

header {
    align-items: center;
    text-align: center;
}

h1 {
    color: $color-blue;
    text-align: center;
    font-weight: 900;
    font-family: $font-display;
}

.flex-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    width: 150px;
    align-items: center;
    background-color: $color-navy;
    color: white;
    border: 1px solid $color-navy;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px;
    border-radius: 5px;
    font-family: $font-display;
}

.footer {
    text-decoration: none;
    text-align: center;
    background-color: $color-secondary;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}