@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@100&display=swap");
* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #081252;
}

nav {
  height: 10vh;
  background-color: white;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: block;
  border: 1px solid darkblue;
  text-decoration: none;
  padding: 10px 20px 10px;
  border-radius: 5px;
  font-weight: bolder;
}

header {
  align-items: center;
  text-align: center;
}

h1 {
  color: #55c6fa;
  text-align: center;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
}

.flex-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  width: 150px;
  align-items: center;
  background-color: #081252;
  color: white;
  border: 1px solid #081252;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px 10px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
}

.footer {
  text-decoration: none;
  text-align: center;
  background-color: #f9f8c7;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}