@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #081252;
}

nav {
  height: 10vh;
  background-color: white;
  margin: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: block;
  border: 1px solid darkblue;
  text-decoration: none;
  padding: 10px 20px 10px;
  border-radius: 5px;
}

h1 {
  color: #55c6fa;
  text-align: center;
  font-weight: bold;
}